@import url(global.css);
@import url(nav.css);
@import url(header.css);
@import url(main.css);
@import url(footer.css);

/*minhas alterações*/
img#logomarca{
    width: 100px;
    height: auto;
    border-radius: 50% ;
    object-fit: cover;

}
img#lupa{
    width: 25px;
    height: auto;
}
img.pointer{
    width: 20px;
    height: auto;
}
img#fotoPrincipal{
    width: 200px;
    height: 200px;
    border-radius: 90%;
    object-fit: cover;
}

p{
    max-width: 260px; /* Ajuste a largura máxima conforme necessário*/ 
    word-wrap: break-word; /* Quebra palavras longas */
}

/*inicio do codigo */