.galeria{
    margin: 0.7px;
    columns: 200px;
    column-gap: 15px;/* Define o espaço entre as colunas */
}

img{
    width: 100%;
    height: 100%;
    margin-bottom:0.5em ;
    border-radius: 17px;
    border: 0.5px solid white ;
    box-shadow: 2px 2px white;
    transition: transform 0.2s;
    object-fit: cover;
}

img:hover{
    transform: scale(1.1);
}