@import url(./resest.css);
@import url(./vars.css);
:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
body{  
    background-image: linear-gradient(rgba(3, 3, 3, 0.863) 0%, rgb(0, 0, 0) 100%);
    font: var(--font-dm-sans);

}
.conteiner-Principal{
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin: 32px;
    
    .conteiner{
        display: flex;
        flex-direction: column;
        background-color: #121212;
        color: var(--text-base-light);
        width: 100vh;
        height: auto;
        border-radius: 8px;

        & .inicio{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 1.5rem;

            & img{
                width: 36px;
                height: auto;
            }
            & h1{
                text-align: center;
                font-size: 2rem;
                margin-bottom: 5vh;
                
            }
        }

        .logins{
            display: grid;
            gap: 0.5rem;
            padding-bottom: 1rem;
            justify-content: center;
            align-items: center;
            
            
           
            & button{
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20rem;
                height: 2.9rem;
                text-align: center;
                background: #000000;
                border: 1px solid black;
                border-radius: 50px;
                color: #ffff;
                cursor: pointer;
                padding: 7px 31px;
                margin: 0 0 8px;
                
                &:hover{
                    border: 1px solid #ffff;
                }

                span.google{
                    background-image: url(../../assets/icons/login/google.png);
                    background-repeat: no-repeat;
                    background-size: contain;
                    display: inline-block;
                    width: 1rem;
                    height: 1rem;
                    position: absolute;
                    left: 2rem;
                }
                span.facebook{
                    background-image: url(../../assets/icons/login/facebook.png);
                    background-repeat: no-repeat;
                    background-size: contain;
                    display: inline-block;
                    width: 1rem;
                    height: 1rem;
                    position: absolute;
                    left: 2rem;
                }
                span.aplle{
                    background-image: url(../../assets/icons/login/logotipo-da-apple.png);
                    background-repeat: no-repeat;
                    background-size: contain;
                    display: inline-block;
                    width: 1rem;
                    height: 1rem;
                    position: absolute;
                    left: 2rem;
                }
            }
                
            }
            
        .linha{
        
            border-bottom: 1px solid rgb(68, 68, 68);
            width: 60%;
            margin: 0 auto;

            }
        
        
        .login{
    
            margin-top: 0.5rem;
            
            & form{
                display: grid;
                margin: 0.9rem;
                padding: 2rem;
                justify-content: center;
                align-items: center;

              
            }
            
            & input{
                margin: 6px 0 3px 0;
                background-color: rgba(64, 63, 65, 0.295);
                border: none;
                border-radius: 10px;
                width: 20rem;
                height: 1.9rem;
                color: #ffff;
                margin-bottom: 1rem;
            }
            
            & button{
                border-radius: 50px;
                border: none;
                background-color:#06d14d;
                width: auto;
                height: 5vh;
                cursor: pointer;
                font-size: medium;
                
               
                &:hover{
                    background-color: rgb(49, 218, 57);
                    font-size: 1.5rem;
                }
            }
           
        }
        article{
            display: grid;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            text-align: center;
            margin-bottom: 2rem;
            color: #a19e9e;

            & fifigcaption{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1rem;
                
            }

            & a {
                color: #ffff;

                &:hover{
                    color:#06d14d;
                }
            }
        }
    }
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 4dvw;
    background-color: #121212;
    color: #6e6a6a;
    

    & span{
        font-size: 14px;

        & a{
            color: #ffff;
        }
    }

    
}